.globalAlertWrapper {
    position: fixed;
    width: 100%;
    top: 100px;
    left: 0;
    z-index: 1;
}

.localAlertWrapper {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.alertMessage {
    background: gray;
    color: white;
    text-align: center;
    height: 0;
    left: 0;
    margin-bottom: 10px;
    border-radius: 0.25rem;
    opacity: 1;
    overflow: hidden;
    transition: height .5s, opacity .5s;
}

.default, .succes, .warning, .error {
    padding: 0.75rem 1.25rem;
    height: 48px;
    border: 1px solid transparent;
}

.default {
    background: gray;
}

.succes {
    background: greenyellow;
}

.warning {
    background: orange;
}

.error {
    background: red;
}


.fadeEffect {
    opacity: 0;
}
.closedAlert {
    display: none;
}

.closeBtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    font-size: 22px;
    line-height: 20px;
    float: right;
    cursor: pointer;
    transition: 0.3s;
}

.closeBtn:hover {
    color: black;
}