.productListPage {
	margin-top: 148px;
}

main {
	max-width: 70%;
	float: right;
	position: relative;
}

@media only screen and (max-width: 1199px) {
	main {
		max-width: 90%;
		float: right;
	}
}

.product {
	display: inline-block;
	padding: 20px;
}

.productName {
	font-size: 20px;
	text-align: center;
	margin: 10px 0;
	height: 25px;
	overflow: hidden;
	border-bottom: solid 1px #cecece;
}

.price {
	float: left;
	font-size: 30px;
}

.addToCard {
	float: right;
}

.col {
	text-align: center
}

.temporarAlert {
	display: block;
	position: absolute;
	margin: 50px 0 0 0;
	left: 0;
	bottom:8px;
	animation: hide 1.0s forwards;
	animation-iteration-count: 1;
	animation-delay: 5s;
}

.sliderContainer {
	width: 80%;
	position: relative;
	margin: auto;
}

.slick-slide img {
	margin: auto;
}

.fa-arrow-right {
	position: absolute;
	right: -30px;
	padding: 10px;
	top: 50px;
}

.fa-arrow-left {
	position: absolute;
	left: -30px;
	top: 50px;
	padding: 10px;
}

.slick {
	position: relative;
	width: auto;
	display: inline-block;
}

.slickContainer {
	height: 150px;
	overflow: hidden;
	text-align: center;
}

.slickSlide {
	display: none;
}

.slickDots {
	text-align: center;
}

.slickDots li {
	list-style-type: none;
	display: inline-block;
	position: relative;
}

.dots {
	border: 0;
	background: 0 0;
	padding: 0;
	margin: 0  10px;
}

.dots:before {
	color: black;
	font-size: 25px;
	line-height: 20px;
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	content: "•";
	opacity: 0.3;
}
.activePoint:before {
	opacity: 1;
}

.previous, .active, .next {
	display: inline-block;
}

.prevOfPrev {
	animation-name: nextClickLeftSlide;
	animation-duration: 1s;
}

@keyframes nextClickLeftSlide {
	from {
		margin-left: 0;
	}
	to {
		margin-left:-200px;
	}
}

.nextOfNext {
	display: inline-block;
	animation-name: nextClickRightSlide;
	animation-duration: 1s;
}

@keyframes nextClickRightSlide {
	from {
		opacity: 1;
	}
	to {
		opacity: 1;
	}
}

.prevOfPrev1 {
	animation-name: nextClickLeftSlide1;
	animation-duration: 1s;
}

@keyframes nextClickLeftSlide1 {
	from {
		margin-left: -200px;
	}
	to {
		margin-left: 0;
	}
}

.nextOfNext1 {
	animation-name: nextClickRightSlide1;
	animation-duration: 1s;
}

@keyframes nextClickRightSlide1 {
	from {
		opacity: 1;
	}
	to {
		opacity: 1;
	}
}
