aside {
	float: left;
	margin-top: 40px;
	border: 1px solid #e9e9e9;
	box-shadow: 3px 3px 3px rgba(0,0,0,.05);
}

@media only screen and (max-width: 1199px) {
	aside {
		position: absolute;
		background: white;
	}
}

.dropdown-menu {
	width: 300px;
}

.filter {
	border-bottom: 1px solid #e9e9e9;
	padding-bottom: 10px;
}

.filterName {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

.option {
	padding: 10px;
	font-size: 18px;
}

[type="checkbox"] {
	position: absolute;
    left: -9999px;
}
[type="checkbox"] + label {
  position: relative;
  padding-left: 2.95em;
  cursor: pointer;
}

[type="checkbox"] + label:before {
  content: '';
  position: absolute;
  left: 0px; 
  top: -2px;
  width: 1.25em; 
  height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}

[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: .1em; left: .3em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
}

[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

.priceFilter input {
	width: 70px;
	height: 30px;
	border-radius: 10px;
	margin-right: 20px;
	border-color: #c2cfd6;
}

.priceFilter button {
	width: 40px;
	height: 30px;
	border: none;
	border-radius: 4px;
	background-color: rgb(47, 122, 189);
}

.priceFilter button:hover {
	background-color: #003575;
	cursor: pointer;
}

.priceFilter input:hover {
	border-color: #79b9e7;
}


