body{
	margin: auto !important;
	max-width: 1400px !important;
	wdith: 100% !important;
}

header{
	background: rgb(1, 93, 170);
	height: 100px;
	top: 0;
	position: fixed;
	width: 100%;
	z-index: 100;
	left: 0;
}

.alertContainer {
	margin-top: 74px;
}

.headerContent {
	padding: 26px 20px;
}

.logo {
	float: left;
	padding: 10px;
}

.searchBar {
	height: 50px;
	float: left;
}

.searchDropdown {
	height: 100%;
	width: 70px;
	float: left;
	background: rgb(223, 235, 237);
	border-radius: 50%;
}

.searchDropdown button {
	background: rgb(223, 235, 237);
    font-size: .875rem;
    padding: 0 15px 0 20px;
    width:100%;
    height: 100%;
    border-radius: 100px 0 0 100px;
    border-width: 0;
    line-height: 40px;
    font-weight: 600;
}

.searchDropdown button::after {
	position: absolute;
	content: "";
	border-left: 5px solid transparent;
  	border-right: 5px solid transparent;
  	border-top: 5px solid rgb(1, 93, 170);
  	margin-top: 17px;
    margin-left: 7px;
}


.searchWrapper {
	width: 300px;
	height: 100%;
	background: white;
	float: left;
}
.searchInput {
	width: 98%;
    height: 30px;
    border: none;
    padding: 10px 0;
}

.searchButton {
	width: 70px;
	height:100%;
	float: left;
	background: rgb(255, 193, 32);
	border-radius: 0 30px 30px 0;
}

.fa-search {
	margin: 17px 35%;
}

.accountInfo {
	float: right;
    height: 50px;
}

.accountInfo button {
	color: white;
    background: rgb(1, 93, 170);
    border: none;
    font-size: 15px;
    padding: 12px 15px;
}

.accountInfo button::after {
	position: absolute;
	content: "";
	border-left: 5px solid transparent;
  	border-right: 5px solid transparent;
  	border-top: 5px solid rgb(255, 193, 32);
  	margin-top: 9px;
    margin-left: 5px;
}

.shoppingCart {
	position: relative;
	float: right;
	margin-right: 40px;
    height: 50px;
}

.fa-shopping-cart {
	color: white;
	font-size: 30px;
	padding: 5px 20px;
}

.cart {
	right: -22px;
	margin-top: 50px;
	top: 24px;
	position: absolute;
	display: none;
	z-index: 100;
	width: 400px;
	min-height: 300px;
	background: aliceblue;
}
.cart:before {
	position: absolute;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 25px solid aliceblue;
	left: auto;
	right: 27px;
	top: -20px;
	content: "";
}

.shoppingCart:hover .cart {
	display: block;
}

.cartProduct {
	border-bottom: 2px solid black;
	height: 70px;
}

.cartProduct span, .cartProduct img {
	float: left;
}

.basketQty {
	position: absolute;
	background-color: dimgray;
	top: 0;
	left: 45px;
	font-size: 12px;
	width: auto;
	min-width: 25px;
	height: 22px;
	display: block;
	text-align: center;
	padding: 2px;
	border-radius: 10px;
	font-family: Arial;
	font-weight: 700;
	color: #fff;
}

.logout {
	float: right;
	height: 50px;
}

.logoutButton {
	padding: 12px 15px;
	background: 0 0;
	border: 0;
	color: white;
}

@media only screen and (max-width: 899px) {
	.arrangeFit {
		display: none;
	}
}

@media only screen and (max-width: 599px) {
	.shoppingCart {
		display: none;
	}
}




