.productImage {
    float: left;
    margin-right: 20px;
}
.itemPrice {
    color: red;
}

table {
    width: 600px !important;
}

.addToCart {
    width: 500px;
    float: left;
}

.addToCart input{
    width: 100%;
}

.addToCart button {
    background: rgb(190, 42, 58);
    width: 100%;
    height: 50px;
    margin: 20px 0;
}

.detailWrapper {
    border: 1px solid rgb(237, 237, 237);
    box-shadow: 5px 5px 20px grey;
    overflow: hidden;
    margin: 20px;
    padding: 20px;
    margin-top: 120px;
}

@keyframes hide {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        left: -9999px;
    }
}
.hiddenAlert {
    display: none;
}

.temporarDetailAlert {
    display: block;
    animation: hide 1.0s forwards;
    animation-iteration-count: 1;
    animation-delay: 5s;
}